<div class="border p-3 rounded mb-4 bg-white shadow">
  <p class="font-bold text-lg">{{ song().titulo }}</p>
  <p class="text-gray-600">Artista: {{ song().artista }}</p>
  <p class="text-gray-600">Género: {{ song().genero }}</p>
  <p class="text-gray-600">Año: {{ song().anio }}</p>
  <p class="text-gray-600">Duración: {{ song().duracion }}</p>

  <!-- 🔥 ESTE ES EL BOTÓN QUE FALTA -->
  <button
    (click)="addToFavorites(song().id)"
    class="mt-2 px-3 py-1 text-white rounded transition font-semibold"
    [disabled]="isFavorite()"
    [ngClass]="
    isFavorite()
      ? 'bg-blue-500 cursor-default'
      : 'bg-blue-600 hover:bg-blue-700 cursor-pointer'
  "
    style="cursor: pointer; margin-left: 65%;"
  >
    {{ isFavorite() ? '💙 Favoritos' : '❤️ Agregar a Favoritos' }}
  </button>



  <audio
    [src]="songService.getSongAudioUrl(song().id)"
    controls
    class="mt-2 w-full"
  ></audio>
</div>
