<div class="p-5">
  <h2 class="text-2xl font-bold mb-4">Lista de Canciones</h2>
  <a routerLink="/admin/songs/new" class="btn btn-primary mb-4">Agregar Canción</a>

  <table class="table-auto w-full border border-slate-700">
    <thead>
      <tr class="bg-gray-800">
        <th class="px-4 py-2">Título</th>
        <th class="px-4 py-2">Artista</th>
        <th class="px-4 py-2">Género</th>
        <th class="px-4 py-2">Año</th>
        <th class="px-4 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs()">
        <td class="border px-4 py-2">{{ song.titulo }}</td>
       <!-- <td class="border px-4 py-2">{{ song.artist }}</td>
        <td class="border px-4 py-2">{{ song.genre }}</td>
        <td class="border px-4 py-2">{{ song.year }}</td>-->
        <td class="border px-4 py-2 space-x-2">
          <a [routerLink]="['/admin/songs/edit', song.id]" class="btn btn-sm btn-warning">Editar</a>
          <button (click)="deleteSong(String(song.id))" class="btn btn-sm btn-error">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
