<div id="logo" class="my-4 px-6">
  <h1 class="text-lg md:text-2xl font-bold text-white">
    {{ envs.companyName }}
    <span class="text-blue-500">{{ envs.companyName2 }}</span>.
  </h1>
  <p class="text-slate-500 text-sm">{{ envs.companySlogan }}</p>
</div>

<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">
    Welcome back, <span class="text-white font-semibold">{{ userName() }}</span>
  </p>

  <a
    routerLink="/auth/login
"
    class="inline-flex items-center space-x-2 hover:opacity-80 transition mt-2"
  >
    <span class="text-sm md:text-base font-bold text-white">Iniciar sesion</span>
  </a>
</div>



