<div class="favorites-container">
  <h1>Mis canciones favoritas</h1>

  <!-- Si NO está logeado -->
  <div *ngIf="!userId" style="display:flex">
    <p>⚠ Requieres iniciar sesión para ver tus canciones favoritas</p>
    <button routerLink="/login">Iniciar sesión</button>
  </div>

  <div *ngIf="loading">
    <p>Cargando canciones...</p>
  </div>

  <div *ngIf="!loading && favorites.length === 0">
    <p>No tienes canciones favoritas aún 🎧</p>
  </div>

  <div *ngIf="favorites.length">
    <ul>
      <li *ngFor="let song of favorites">
        {{ song.titulo }} - {{ song.artista || 'Desconocido' }}
      </li>
    </ul>

    <button (click)="downloadCSV()">📥 Descargar CSV</button>
  </div>
</div>

