.admin-menu {
  width: 220px;
  background: #1e1e2f;
  color: #fff;
  height: 100vh;
  padding: 16px;
}

.admin-menu ul {
  list-style: none;
  padding: 0;
}

.admin-menu li {
  margin-bottom: 16px;
}

.admin-menu a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.admin-menu i {
  margin-right: 12px;
  font-size: 18px;
}

.admin-menu small {
  display: block;
  font-size: 12px;
  color: #aaa;
}
